$comp-green: #64ffda;
$slate: #CCD6F6;
$dark-slate: #8892b0;
$inter: 'Inter', sans-serif;

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #0A192F;
    font-family: 'Roboto-Mono', monospace;
}

.content {
    font-size: 24px !important;
}

.container {
    counter-reset: heading-counter;
}

.card {
    background-color: #10283A;
}

.card-header {
    color: $dark-slate;
}

h1 {
    margin-top: 50px;
    color: $comp-green;
    font-size: 20px;
}

.big_header {
    color: $slate;
    font-size: clamp(40px, 8vw, 80px);
    font-family: $inter;
    font-weight: 700;
}

.big_header_2 {
    color: #778899;
    font-size: clamp(40px, 8vw, 80px);
    font-family: $inter;
    font-weight: 700;
}

p {
    color: $dark-slate;
}

.numbered_heading {
    font-family: $inter;
    font-weight: 700;
    color: $slate;
    position: relative;
    left: 50px;
    counter-increment: heading-counter;
}

.numbered_heading::before {
    content: "0" counter(heading-counter) ".";
    font-weight: 400;
    left: -40px;
    color: $comp-green;
    position: absolute;
}

.numbered_heading::after {
    content: ""; 
    height: 2px;
    background-color: $slate; /* Change to a bright color for testing */
    width: 15%;
    margin-left: 15px;
    position: absolute;
    top: 20px;
}

ul {
    color: $slate;
}

.card-header a {
    float: right;
    svg {
        transition: fill 0.5s ease;  
    }
    :hover {
        fill: $comp-green
    }
}

.card-body a {
    text-decoration: none;
    color: $comp-green;
}

.card-body a:hover {
    text-decoration: underline;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: $slate;
    width: 40px; /* Adjust the width if needed */
    height: 40px; /* Adjust the height if needed */
}

#footer {
    ul {
        text-align: center;
        
        li {
            display: inline-block;
            margin: 10px 20px;
            a {
                svg {
                    fill: $slate;
                    transition: fill 0.5s ease;  
                }
                :hover {
                    fill: $comp-green
                }
            }
        }
    }

    p {
        text-align: center;
    }
}


//Say sass --watch style.scss:style.css for automatic changes